---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="404 | Page not found">
  <div class="flex h-screen flex-col items-center justify-center">
    <h1 class="text-xl">
      <strong>404</strong> | <span class="text-accent">Page not found</span>
    </h1>
  </div>
</Layout>
