---
import { differenceInMinutes, formatDistanceToNow, isPast } from "date-fns";

interface Props {
  /**
   * The estimated end time of the maintenance.
   */
  endTime?: Date;
}

const { endTime } = Astro.props as Props;

// Convert the time estimate to a relative time string.
let timeRemaining: string | undefined;
if (endTime) {
  if (isPast(endTime)) {
    // If the estimated end time is in the past, we should be done soon.
    timeRemaining = "very soon";
  } else {
    const minutesLeft = differenceInMinutes(endTime, new Date());
    if (minutesLeft < 60) {
      // If less than 60 minutes left, show more precise timing.
      timeRemaining = `in ${minutesLeft} minutes`;
    } else {
      // Otherwise, show a relative time.
      timeRemaining = formatDistanceToNow(endTime, {
        addSuffix: true,
      });
    }
  }
}
---

{
  timeRemaining && (
    <p>
      We'll be back up <span class="font-bold">{timeRemaining}</span>
    </p>
  )
}
